<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% const userQuery = url.query; %>
    <% const user = (await DB.User.fromUsername(userQuery)) ?? (await DB.User.fromUserId(userQuery)); %>
    <% if (user === undefined) { %>
        <title>Unknown User</title>
    <% } else { %>
        <title><%= user.username %></title>
    <% } %>

    <style>
        input[type=search] {
            width: 512px;
            height: 32px;
            font-size: 24px;
        }

        textarea {
            width: 512px;
            height: 256px;
            resize: none;
            outline: none;
        }
    </style>
</head>
<body>
    <noscript>
        This page requires JavaScript
    </noscript>

    <input type="search" id="search" value="<%- sanitizeParams(userQuery ?? "") %>">

    <% if (user === undefined) { %>
        <h1>Unknown User</h1>
    <% } else { %>
        <h1><%= user.username %></h1>
        User ID: <%= user.userId %><br />
        Frozen: <%= user.frozen %><br />
        Permission Level: <%= user.permissionLevel %><br />
        <details>
            <summary>Known IPs:</summary>
            <textarea readonly><%= [...user.ips].join("\n") %></textarea>
        </details>
        <details>
            <summary>Hashed Password:</summary>
            <textarea readonly><%= user.password %></textarea>
        </details>
    <% } %>

    <script>
        const searchElem = document.getElementById("search");
        searchElem.addEventListener("keypress", (ev) => {
            if (ev.key === "Enter") {
                console.log(window.location);
                window.location = `${window.location.origin}${window.location.pathname}?${searchElem.value}`;
            }
        });
        searchElem.focus();
        searchElem.select();
    </script>
</body>
</html>